:root {
	--primary-color-1: #2A203F;
	--primary-color-2: #5D3587;
	--secondary-color-1: #A367B1;
	--secondary-color-2: #FFD1E3;
	--secondary-color-3: #ffd1e384;
}

body {
	background-color: var(--primary-color-2);
}

.calculator_frame {
	height: 765px;
	width: 600px;
	display: flex;
	flex-direction: column;
	background-color: var(--primary-color-1);
	border: 2px solid var(--secondary-color-2);
	border-radius: 10px;
	margin: 50px auto 0;
}

.calculation_container {
	height: 20%;
  	margin: 20px 20px 0 20px;
}

.prev_entry_panel {
	height: 40%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.prev_entry {
	display: block;
	float: right;
	text-align: right;
	text-wrap: nowrap;
	color: var(--secondary-color-3);
	font: 40px 'Arial', sans-serif;
}

.entry_panel {
	height: 60%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.entry {
	display: block;
	float: right;
	text-wrap: nowrap;
	color: var(--secondary-color-2);
	font: 70px 'Arial', sans-serif;
}

.buttons_container {
	height: 80%;
	margin: 5px;
}

.buttons {
	height: 100%;
	width: 100%;
}

.buttons td {
	height: 20%;
	width: 25%;
	padding: 10px;
}

.buttons_container div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  	border-radius: 5px;
	user-select: none;
  	cursor: pointer;
}

.util_panel {
	background-color: var(--primary-color-2);
	color: var(--secondary-color-2);
	font: 50px 'Arial', sans-serif;
}

.num_panel, .nec_panel{
	background-color: var(--secondary-color-2);
	color: var(--primary-color-1);
	font: 50px 'Arial', sans-serif;
}

.opr_panel, .res_panel {
	background-color: var(--secondary-color-1);
	color: var(--secondary-color-2);
	font: 60px 'Arial', sans-serif;
}